.fileViewer {
  display: none;
}

.filesList {
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.fileEntry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececf1;
  gap: 16px;
  width: 100%;
}

.fileUploadContainer {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.fileUploadBtn {
  background-color: #000;
  color: white;
  padding: 8px 24px;
  border-radius: 32px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.fileUploadInput {
  display: none;
}
